LOCAL_STORAGE_PATH="./context_data"
INFERENCE_ENGINE=local
USE_BEDROCK_EMBEDDINGS=false
INFER_LOCAL=true
DB_LOCAL=true
PGVECTOR_USER=test
PGVECTOR_PASSWORD=test
PGVECTOR_PORT=5432
PGVECTOR_HOST=localhost
PGVECTOR_DATABASE=test
EMBEDDING_COLLECTION_NAME="llm_collection"
OPENAI_API_KEY=""
OPENAI_API_TYPE=azure
OPENAI_API_VERSION=2023-07-01-preview
OPENAI_API_BASE=https://oai-int-azg-we-001.openai.azure.com/
OPENAI_DEPLOYMENT_NAME=dep-gpt-35-turbo
CONFLUENCE_URL=https://nordcloud.atlassian.net/wiki
CONFLUENCE_API_KEY="..."
CONFLUENCE_USERNAME="..."
