# pip freeze this for particular version
requests==2.31.0
boto3>=1.28.62
botocore>=1.31.57
cryptography==42.0.0
streamlit==1.27.0
python-dotenv==1.0.0
pypdf
#langchain==0.0.314
langchain==0.1.7
#langchain==0.0.335
pgvector
openai>1
# Base
#openai==0.28.1
psycopg2-binary
tiktoken
# Start Embedder on sentences
sentence_transformers
unstructured[pdf,docx]==0.10.22
langchainhub
# Base
#ragas==0.0.17
ragas==0.1.1
llama_index
pyOpenSSL
SQLAlchemy
mypy
plotly
atlassian-python-api
